*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

body{
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
 
}

img {
  max-width: 200px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

h1{
  font-size:large;
  color: white;
  padding-bottom: 10px;
}

.center{
  border : 2px solid red;
}

.main{

  display: flex;
  justify-content: space-around;

  .center{
    border : 2px solid red;
    color: white;
    max-width: 515px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
  .left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 315px;
    color: yellow;
  }
  
  .right{
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    max-width: 315px;
    color: yellow;
  }
}

.Top{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}
.markdown-button{
  border: 3px solid black;
  color: white;
  padding: 20px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Historique{
  padding-top: 15px;
}

